---
layout: page
title: Categories
permalink: /categories/
order: 3
---
<style>
    details > summary {
        cursor: pointer;
        font-size: 2em;
        text-transform: capitalize;
    }

</style>
{% for tag in site.categories %}
<details>
    <summary class="summaries">{{ tag | first }}</summary>
    <ul>
        {% for posts in tag %}
            {% for post in posts %}
                {% if post.url %}
                <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </ul>
</details>
{% endfor %}
