---
layout: page
title: Members
permalink: /members/
---
<style>
    /* TODO: Add styling to list with li */
</style>

<div class="entry-content">
  <p></p>

  <ul>
       {% for item in site.data.members.members %}
       <li>
         <strong>{{ item.firstname }} {{ item.lasttname }}  </strong> </br>
           <ul>
           {% for grade in item.grades %}
            <li>
            <strong>{{ grade.name }} </strong>: {{ grade.startyear }} - {{ grade.endyear }}</br>
            </li>
           {% endfor %}
           </ul>
           <a href="https://vitalab.github.io/search/?query={{ item.firstname }}+{{ item.lastname }}">Posts</a>

       </li>
       {% endfor %}
  </ul>

 </div>


