---
layout: page
title: Members
permalink: /members/
---
<style>
    /* TODO: Add styling to list with li */
</style>

<div class="entry-content">
  <p></p>

  <h1>Professors</h1>
  <ul>
       {% for item in site.data.members.professors %}
       <li>
         <strong>{{ item.name }} </strong>: {{item.grade}} </br>
         {{ item.startyear }} - {{ item.endyear }}
       </li>
       {% endfor %}
  </ul>

  <h1>Current members</h1>
  <ul>
       {% for item in site.data.members.current_members %}
       <li>
         <strong>{{ item.name }} </strong>: {{item.grade}} </br>
         {{ item.startyear }} - {{ item.endyear }}
       </li>
       {% endfor %}
  </ul>

  <h1>Past members</h1>
  <ul>
       {% for item in site.data.members.past_members %}
       <li>
         <strong>{{ item.name }} </strong>: {{item.grade}} </br>
         {{ item.startyear }} - {{ item.endyear }}
       </li>
       {% endfor %}
  </ul>

 </div>
