<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-3">
        <p>{{ site.description | escape }}</p>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list" style="line-height: 1.8rem">
          <li>
            <a href="https://bitbucket.org/vitalab/vitalabai_public">Bitbucket</a>
          </li>
          <li>
            <a href="http://vital.dinf.usherbrooke.ca/">Website</a>
          </li>
        </ul>
      </div>

      <div class="footer-col footer-col-1">
        A project initiated by :<br>
        <a href="http://info.usherbrooke.ca/pmjodoin">Pierre-Marc Jodoin</a><br>
        <a href="https://lemairecarl.github.io">Carl Lemaire</a>
      </div>
    </div>

  </div>

</footer>