---
layout: default
---
<style>
  main.page-content {
    padding-bottom: 0;
  }
  div#comments {
    margin-top: 4rem;
    padding: 0.8rem 10px 0.8rem 10px;
    background-color: #eee;
    border-top: 2px solid black;
  }
</style>

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <div class="post-meta" style="margin-bottom: 0.5rem">{% for tag in page.tags %}<span style="margin-right: 1em">{{ tag }}</span>{% endfor %}</div>
    <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • Review by <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}{% if page.link %} • <a href="{{page.link}}">{{page.link}}</a>{% endif %}</p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

  <div id="comments">
    <h2>Comments</h2>
    <p>If you have a question about the subject of this post, please ask it on Slack in the #papers channel, and <strong><a href="https://get.slack.help/hc/en-us/articles/115000769927-Message-threads">start a thread</a></strong> in order to keep the answers organized.</p>
  </div>
</article>
